div.searchTextInput {
    position: relative;
}

div.searchTextInput ul {
    background-color: #fff;
    position: absolute;
    z-index: 10;
    list-style: none;
    padding: 0;
    /* border-top: 1px solid #aaa; */
    /* margin-top: -6px;
    margin-left: 4px; */
    box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.16) /*, 2px 4px 10px 0 rgba(0,0,0,0.12); */
}

div.searchTextInput ul li {
    padding: 3px;
    border: 1px solid #aaa;
    border-top: none;
    cursor: pointer;
}


div.searchTextInput ul li.selected {
    background-color: #337ab7;
    color: #fff;
}