span.btn a {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    padding: 6px 12px;
    border-radius: 4px;
}

span.btn a:hover {
    text-decoration: none;
}

.btnBlue {
    composes: btn;
}

span.btnBlue a {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

span.btnBlue a:hover {
    background-color: #286090;
    border-color: #204d74;
}

span.btnBlue a:hover:active {
    background-color: #204d74;
    border-color: #122b40;
}