.link {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
    color: #337ab7;
    font-weight: normal;
    border-radius: 0;
    text-align: left;
}

.link:hover {
    color: #23527c;
    text-decoration: underline;
}