<div class="row">
  <div class="col-md-9">

    <h2><%= t :My_activities %></h2>

    <% @current_programs.each do |program| %>
        <div class="panel panel-primary">

          <div class="panel-heading">
            <h3 class="panel-title">
              <%= link_to program.name, program %>
            </h3>
          </div>

          <div class="panel-body">
            <% activities = program.sorted_activities %>
            <table class="table" id="activities-table">

              <% activities.each do |activity| %>
                  <%= render 'programs/current_activity_table_row', activity: activity %>
              <% end %>

            </table>
          </div>

        </div>
    <% end %>

  </div>
</div>