<div id="events" style="margin-bottom: 36px;">
  <% events = Event.upcoming.where(domain: @domain) + Event.current.where(domain: @domain) %>
  <h3>
    <%= t :Events %>
    <% if can? :create, Event %>
        <small>
          <%= link_to t(:Add_event), new_event_path %>
        </small>
    <% end %>
  </h3>
  <%= render 'event_table', events: events %>
</div>