<div class="row">
  <div class="col-md-6">

    <div id="publications" style="margin-bottom: 36px;">
      <h3>
        <%= t :Published_medias %>
      </h3>
      <%= render 'publications_table', kind: 'Media' %>
    </div>

  </div>

  <div class="col-md-6">

    <%= render 'domain_events_table' %>

  </div>
</div>

