<% pubs = Publication.where(kind: kind).reorder('year DESC NULLS LAST, created_at DESC').limit(15) %>
<table class="table">
  <% pubs.each do |pub| %>
      <tr>
        <td class="bigger"><%= link_to pub.name, pub %></td>
        <td><%= pub.year %></td>
        <td class="subtle-links"><%= link_to pub.program.name, pub.program %></td>
        <% if kind=='Media' %>
          <td><%= t(pub.media_kind) %></td>
        <% end %>
      </tr>
  <% end %>
  <tr><td>...</td><td colspan="3"></td> </tr>
</table>