<% survey = Survey.find_by(open: true) %>
<% unless survey.nil? %>
    <% current_programs = @user.current_programs %>
    <% if not current_programs.empty? and can?(:create, current_programs.first.domain_updates.new) %>
      <div class="bs-callout callout-blue">
        <h2><%= t :Surveys %></h2>
        <ul class="list-unstyled">
          <% current_programs.each do |program| %>
              <li>
                <%= link_to "#{program.name} #{survey.name} Survey", program_survey_path(program, survey), class: 'h4' %>
                <% if SurveyCompletion.find_by(program: program, survey: survey) %>
                  <span class="text-success"> - <%= t :Completed %></span>
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>
    <% end %>
<% end %>