
<script type="application/json" id="strings">
  <%=
    strings_json(:common, :notification, :dashboard_page)
    %>
</script>

<script type="application/json" id="viewPrefs">
  <%= current_user.view_prefs.to_json.html_safe %>
</script>

<div id="dashboard" data-authenticity-token=<%= form_authenticity_token %>>
</div>

<%= javascript_pack_tag 'dashboard' %>