.icon {
    display: inline-block;
    cursor: pointer;
}

.icon path {
    fill: #aaa;
}

.iconInactive {
    display: inline-block;
}

.iconInactive path {
    fill: #aaa;
}

.iconBlue {
    composes: icon;
}

.iconBlue:hover path {
    fill: #337ab7
}

.iconBlue:hover:active path {
    fill: #286090
}

.iconYellow {
    composes: icon;
}

.iconYellow:hover path {
    fill: #f0ad4e;
}

.iconYellow:hover:active path {
    fill: #ec971f;
}

.iconRed {
    composes: icon
}

.iconRed:hover path {
    fill: #dc3545;
}

.iconRed:hover:active path {
    fill: #c9302c;
}

.right {
    margin-left: 5px;
}

.left {
    margin-right: 5px;
}

.right.middleAlign {
    margin-left: 5px;
    vertical-align: middle;
}

.left.middleAlign {
    margin-right: 5px;
    vertical-align: middle;
}