table.eventParticipants {
    width: auto !important;
}

table.eventParticipants tbody tr th, 
table.eventParticipants tbody tr td {
    border: none;
    padding: 0 4px 4px ;
    text-align: left;
}

table.eventParticipants tbody tr a::after {
    content: ", ";
}

table.eventParticipants tbody tr a:last-child::after {
    content: '';
}