<%= render 'searches/search_form' %>

<% survey = Survey.find_by(open: true) %>
<% programs = @user.current_programs %>
<% if survey and not programs.empty? and can?(:create, programs.first.domain_updates.new) %>
  <h2><%= t :Surveys %></h2>
  <ul class="list-unstyled">
    <% programs.each do |program| %>
      <li>
        <%= link_to "#{program.name} #{survey.name} Survey", program_survey_path(program, survey), class: 'h4' %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render 'dashboard_activities' unless @user.current_participants.empty? %>