<div class="row">
  <div class="col-md-9">

    <h2><%= t :My_activities %></h2>

    <% @user.current_participants.each do |participant| %>
      <div class="panel panel-primary">

        <div class="panel-heading">
          <h3 class="panel-title">
            <%= link_to participant.program.name, participant.program %>
          </h3>
        </div>

        <div class="panel-body">
          <% activities = participant.activities.empty? ?
                              participant.program.sorted_activities : participant.sorted_activities %>
          <table class="table" id="activities-table">

          <% activities.each do |activity| %>
            <%= render 'programs/current_activity_table_row', activity: activity %>
          <% end %>

          </table>
        </div>

      </div>
    <% end %>

  </div>
</div>