<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title dulu-panel-title"><%= title %></h3>
  </div>
  <div class="panel-body">
    <% if defined? pubs %>
      <%= render 'panel_body_pubs', pubs: pubs %>
    <% else %>
      <%= render 'panel_body_info', info: info %>
    <% end %>
  </div>
</div>