<ul class="">
  <% if pubs.empty? %>
      <%= t :No_publications %>
  <% else %>
      <% pubs.each do |pub| %>
          <li>
            <%= pub.name %>
            <%= "(#{pub.year})" if pub.year %>
          </li>
      <% end %>
  <% end %>
</ul>