<%
  percent, color = activity.progress
  color = case color
    when :red
      '#A93226'
    when :orange
      '#CA6F1E'
    when :yellow
      '#F4D03F'
    when :light_green
      '#58D68D'
    when :dark_green
      '#1E8449'
    when :light_blue
      '#5DADE2'
    when :dark_blue
      '#21618C'
    when :purple
      '#6C3483'
  end
%>

<div class="progress">
  <div class="progress-bar" role="progressbar"
      aria-valuenow="<%= percent %>" aria-valuemin="0"
      aria-valuemax="100" style="width: <%= percent %>%; background-color: <%= color %>">
  </div>
</div>