<%
  percent, color = activity.progress
  color_word = case color
    when :blue
      'info'
    when :yellow
      'warning'
    when :green
      'success'
  end
  bar_class = "progress-bar progress-bar-#{color_word}"
%>

<div class="progress">
  <div class="<%= bar_class %>" role="progressbar"
      aria-valuenow="<%= percent %>" aria-valuemin="0"
      aria-valuemax="100" style="width: <%= percent %>%">
  </div>
</div>