<h2><%= t :Upcoming_events %></h2>
<% if events.empty? %>
  <%= t :No_upcoming_events %>
<% else %>
  <ul class="list-group">
    <% events.each do |event| %>
      <a href="#" class="list-group-item calendar-past">
        <small>7-14 February<br /></small>
        Literacy Workshop
      </a>
    <% end %>
  </ul>
<% end %>