<h1><%= t :Programs %></h1>

<table class="table">
  <tr>
    <th><%= t :Language %></th>
    <th></th>
  </tr>
  <% @programs.each do |program| %>
    <tr>
      <td><%= link_to program.name, dashboard_program_path(program) %></td>
      <td>
        <%= render 'shared/percentages', program: program %>
      </td>
    </tr>
  <% end %>
</table>