<h1><%= t :Programs %></h1>
<p>
  <%= link_to t(:Add_program), new_program_path, class: "btn btn-primary" %>
</p>
<table class="table">
  <tr>
    <th><%= t :Language %></th>
  </tr>
  <% @programs.each do |program| %>
    <tr>
      <td><%= link_to program.name, dashboard_program_path(program) %></td>
    </tr>
  <% end %>
</table>