<div class="row">
  <div class="col-md-2">
    <h1>Ewondo</h1>
    <div>
      Code: ewo<br />
      Population: A bunch<br />
      Location: Cameroon South
    </div>
    <div>
      <h3>Partnering Organizations</h3>
      SIL Cameroon<br />
      Local Baptist Church<br />
      Seed Company
    </div>
  </div>

  <div class="col-md-8">
    <div>
      <h2>Current Activities</h2>
      <table class="table">
        <tr>
          <td><a href="#">Mark</a></td>
          <td>[==<font color="white">=======</font>]</td>
          <td>Drafting</td>
          <td>Goal: Jan 2018</td>
          <td>Joe Translator</td>
        </tr>
        <tr>
          <td><a href="#">Luke</a></td>
          <td>[========<font color="white">=</font>]</td>
          <td>Consultant Checked</td>
          <td>Publication: Nov</td>
          <td>Drew Maust</td>
        </tr>
        <tr>
          <td><a href="#">Luke Film</a></td>
          <td>[===<font color="white">======</font>]</td>
          <td>Planned</td>
          <td>Recording: Aug</td>
          <td>Nathaniel Gregoriovich</td>
        </tr>
        <tr>
          <td><a href="#">Phonology</a></td>
          <td>[======<font color="white">===</font>]</td>
          <td>Writing</td>
          <td>Publication: July</td>
          <td>Kendall Isaac</td>
        </tr>
      </table>
    </div>
    <div>
      <h2>Program Status</h2>
      <div class="row">
        <div class="col-md-4">
          <div>
            <h3>Bible</h3>
            Old Testament (11%)<br />
            --Genesis (2012)<br />
            --Ruth (2013)<br />
            New Testament (4%)<br />
            --James (2015)
          </div>
          <div>
            <h3>Media</h3>
            Audio Genesis (2013)
          </div>
          <div>
            <h3>Mobilization</h3>
            Something
          </div>
          <div>
            <h3>Ethnomusicology</h3>
            Hymnal (2016)
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <h3>Publications</h3>
            Primer (2011)<br />
            Traditional Stories (2013)
          </div>
          <div>
            <h3>Literacy</h3>
            Something
          </div>
          <div>
            <h3>Community Development</h3>
            Something
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <h3>Linguistic</h3>
            Lexicon (2015)
          </div>
          <div>
            <h3>Scripture Use</h3>
            Something
          </div>
          <div>
            <h3>Anthropology</h3>
            Ewondo Customs (1977)
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div>
      <h3>Events &amp; Milestones</h3>
      <p>
        7-14 February<br />
        Literacy Workshop
      </p>
      <p>
        15 April<br />
        Completed Luke Consultant Check
      </p>
      <hr>
      <p>
        6-13 June<br />
        Translation Workshop
      </p>
      <p>
        July<br />
        Publish Phonology
      </p>
      <p>
        August<br />
        Record Luke Film
      </p>
      <p>
        November<br />
        Publish Luke
      </p>
      <p>
        Jan 2018<br />
        Complete Draft of Mark
      </p>
    </div>
  </div>
</div>