<%= render 'styles' %>

<p>
  <%= @notification.html(@locale, base_url).html_safe %>
</p>

<p>
  <small>
    <%= link_to t('email.notify.log_in_now'), login_url %><br />
    <%= link_to t('email.update_email_prefs'), model_url(@person) %>
  </small>
</p>