<%= render 'styles' %>

<p>
  <%= render 'notifications/text', notification: @notification, email: true %>
</p>

<p>
  <small>
    <%= link_to t('email.notify.log_in_now'), login_url %><br />
    <%= link_to t('email.update_email_prefs'), person_url(@notification.person) %>
  </small>
</p>