<h1>Notifications</h1>

<%= paginate @notifications %>

<table class="table">
  <% @notifications.each do |notification| %>
    <tr>
      <td><%= notification.person.try(:full_name) || 'Global' %></td>
      <td><%= render 'notifications/text', notification: notification %></td>
    </tr>
  <% end %>
</table>

<%= paginate @notifications %>