<% activities = @cluster_program.sorted_activities %>
<% unless activities.empty? %>
  <h3><%= t :Associated_activities %></h3>
  <% if @program %>
    <%=
      items = activities.collect do |a|
        {value: a.id, label: a.name, selected: @participant.activities.include?(a)}
      end
      render 'shared/checkbox_group', items: items, options: {name: 'assoc_activities[]'}
    %>
  <% else %>
    <% program_activities = activities.group_by{ |a| a.program_id } %>
    <% program_activities.each do |program_id, p_activities| %>
      <label class="bigger"><%= Program.find(program_id).name %></label>
      <%
        activities = p_activities.collect do |a|
          {value: a.id, label: a.name, selected: @participant.activities.include?(a)}
        end
      %>
      <%= render 'shared/checkbox_group', items: activities, options: {name: 'assoc_activities[]'} %>
    <% end %>
  <% end %>
<% end %>