<% associated_activities = [] unless associated_activities %>

<div class="form-group">
  <ul class="list-inline">
    <li><a href="#" data-check-all><%= t :All %></a></li>
    <li><a href="#" data-check-none><%= t :None %></a></li>
  </ul>

  <% activity_count = activities.count %>
  <% colnum = [3, (activity_count - 1)/10 + 1].min %>
  <% colcount = (activity_count - 1)/colnum + 1 %>
  <% (1..colnum).each do |col| %>
    <div style="display: inline-table;">
      <% (1..colcount).each do |index| %>
        <% i = (col-1)*colcount + (index-1) %>
        <% break if i >= activity_count %>
        <% activity = activities[i] %>
        <label>
          <%= check_box_tag 'assoc_activities[]', activity.id,
                            associated_activities.try(:include?, activity) %>
          <%= activity.name %>
        </label>
        <br>
      <% end %>
    </div>
  <% end %>
</div>