<% if @cluster_program.is_a? Program %>

  <% @program = @cluster_program %>
  <%= render layout: 'programs/sidebar' do %>
    <%= render 'finish' %>
  <% end %>

<% else %>

  <% @cluster = @cluster_program %>
  <h2><%= t :Cluster_x, name: @cluster.name %></h2>
  <%= render 'finish' %>

<% end %>