<% @program = @cluster_program %>
<%= render layout: 'programs/sidebar' do %>
  <h2><%= t :People %></h2>

  <p>
    <%= link_to t(:Add_a_person), new_program_participant_path(@program), class: 'btn btn-primary' if can? :manage_participants, @program %>
  </p>


    <%= render 'index'%>
<% end %>