<h2>
  <%= @event.display_name %>
  <%= link_to t(:Delete_event),
              ctxt_event_path(@program, @event),
              method: :delete,
              data: {confirm: t(:Delete_event_confirmation, event: @event.display_name)},
              class: 'btn btn-danger hdr-btn' %>
</h2>

<%= form_for @event, html: {class: 'auto-width'} do |form| %>

  <%= render 'events/event_form', form: form %>

<% end %>