<h2>
  <style>
    form.button_to {
      display: inline-block;
    }
  </style>
  <%= @event.display_name %>
  <%= button_to t(:Delete_event), event_path(@event),
              method: :delete,
              data: {confirm: t(:Delete_event_confirmation, event: @event.display_name)},
              class: 'btn btn-danger',
              style: 'margin-left: 40px' %>
</h2>

<%= form_for @event, html: {class: 'auto-width'} do |form| %>

  <%= render 'events/event_form', form: form %>

<% end %>