

  <h2><%= t :Events %></h2>

  <%= link_to t(:Add_event), new_event_path, class: 'btn btn-primary' if can?(:create, Event) %>

  <% events = Event.events_as_hash %>

  <% if events.empty? %>
    <h3><%= t :No_events %></h3>
  <% else %>
    <%= render 'events_table', events: events %>
  <% end %>