div.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

div.container :global(.react-tabs), 
div.container :global(.react-tabs__tab-panel--selected) {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    min-height: 0;
}

div.notificationsListContainer {
    overflow-y: scroll;
    height: 100%;
}

table.notificationsList {
    font-size: 14px;
    margin-bottom: 40px;
}

table.notificationsList td {
    border-top: solid 1px #ddd;
}

.unreadNotification {
    font-weight: bold;
}

.unreadNotification a {
    font-weight: bold;
}

.unreadNotification a:hover {
    font-weight: bold;
}

.notificationDate {
    font-size: 12px;
    color: #888;
}

.notificationText {
    padding: 8px 0;
}