table.notificationsList {
    font-size: 14px;
}

.unreadNotification {
    font-weight: bold;
}

.unreadNotification a {
    font-weight: bold;
}

.unreadNotification a:hover {
    font-weight: bold;
}