<td><h4><%= t stage.name %></h4></td>
<td><%= pretty_format(stage.start_date) %></td>
<td><%= link_to t(:Modify_Date), '#' %></td>
<td><%= link_to t(:Delete), translation_stage_path(stage), 
        method: :delete, remote: true, 
        data: { confirm: t(:Delete_stage_confirmation)}  %></td>