$red: #dc3545;
$blue: #428bca;
$yellow: #ffc107;
$green: #28a745;

@import '../../../node_modules/react-tabs/style/react-tabs.scss';

.iconButton {
    background-color: transparent;
    border: none;
}

.iconButton:hover {
    color: $blue;
}

.iconButtonSuccess:hover {
    color: $green;
}

.iconButtonWarning:hover {
    color: $yellow;
}

.iconButtonDanger:hover {
    color: $red;
}

.errorMessage {
    color: $red;
    .form-control {
        border-color: $red;
    }
}

.autoWidth {
    width: auto;
}

.autoWidthFormElements {
    input, select {
        width: auto;
        display: inline-block;
        margin-right: 8px;
    }
}

label.checkBoxLabel {
    font-weight: normal;
}

.inlineFuzzyDateInputs {
    .fuzzyDateInput {
        display: inline-block;
    }
}

.reallySmall {
    font-size: 10px;
}