@import "bootstrap-sprockets";
@import "bootstrap";

$sil-blue: rgb(0, 104, 166);

body {
  padding-top: 60px;
}

/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#app_header {
  background-color: $sil-blue;
  border-color: $sil-blue;

  a{
    color: white;
  }

  a:hover {
    color: white;
    font-weight: bold; 
  }
}


// Forms

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form_control {
    color: $state-danger-text;
  }
}