<script type="application/json" id="strings">
  <%=
    strings_json(:common, :people_page)
  %>
</script>

<div id="react" data-authenticity-token=<%= form_authenticity_token %>
                data-tab='organizations'
                data-organization-id=<%= @organization ? @organization.id : '' %> >
</div>

<%= javascript_pack_tag 'people' %>