<tr id="stage-row-view-<%= stage.id %>">
  <%= render 'activities/stage_row_view', stage: stage %>
</tr>

<% if can? :update, stage.activity %>
  <tr id="stage-row-form-<%= stage.id %>", style="display: none">
    <td colspan="4">
      <%= render 'activities/stage_row_form', stage: stage %>
    </td>
  </tr>
<% end %>