<% unless @saved_reports.empty? %>
  <div>
    <span class="h4"><%= t :Recenty_viewed_reports %></span>
    <%= select_tag 'recently_viewed_reports', options_for_select(@saved_reports.collect{ |r| [t_phrase(r.name), r.id]}) %>
    <%= link_to t(:View), @saved_reports.first, class: 'btn btn-primary' %>
  </div>
<% end %>